<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INCEPTION_V3</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="main">
      <h1 style="text-align: center;">Upload Image for classification</h1>
      <img
        id="imager"
        src="http://placehold.it/1000x600?dummy=8484744"
        alt="your image"
      />
      <input type="file" id="imgInp" />
      <button id="upload">Classify</button>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/script.js"></script>
  </body>
</html>
